---
import MainLayout from '../layouts/MainLayout.astro';
const faqs = [
  {
    question: "Combien d'enfants gardez-vous en même temps ?",
    answer:
      "J'ai une abilitation pour 3 enfants en même temps. Actuellement j'en garde déjà deux.",
  },

  {
    question: "Quels sont vos horaires d'ouverture ?",
    answer: 'De 8h00 à 18h00',
  },
  {
    question: 'Avez-vous des animaux ?',
    answer: 'Oui. Une chienne Golden de 11 ans',
  },

  {
    question: 'Comment se passe la transition avec les parents',
    answer:
      "Accueil de l’enfant et des parents en demandant comment s’est déroulé la soirée et la nuit de la veille ou du week-end, qu’est-ce que l’on va manger pour midi et pour le goûter. Le soir je vous rend compte d'un petit résumé de notre journée",
  },
  {
    question: "Comment se passe l'adaptation de l'enfant ?",
    answer: 'Modalités à définir ensemble. Chaque enfant est différent',
  },
  {
    question: 'Comment se déroule la sieste ?',
    answer:
      'Votre enfant dormira dans un lit parapluie homologué, dans une turbulette s’il a moins de 2 ans. Une pièce est spécialement dédiée.',
  },
  {
    question: 'Quelles sont les activités proposées aux enfants ?',
    answer: '',
  },
  {
    question: 'Si mon enfant est malade ?',
    answer:
      'J’accepte de garder les enfants malades à la condition que ceux-ci aient vu un médecin et que ce dernier ait délivré un traitement approprié. Et ce, dans le but de préserver la santé des autresenfants accueillis et la mienne. Un protocole définit par votre médecin vous sera demandé afin que je puisse faire les premiers soins en cas de fièvre et en cas de chute, de douleurs dentaires, érythèmes fessiers. Il devra être impérativement remis à jour tous les 3 mois.Je n’administre aucun médicament, ni pommade, ni sirop, ni antiseptique, ou autre sans ordonnance.',
  },
];
---

<MainLayout title="Faq">
  <section
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-5">
    <div class="flex justify-around">
      <h1
        class="text-3xl lg:text-5xl md:text-4xl sm:text-3xl xsm:text-2xl font-bold filter drop-shadow-sm text-slate-200 text-start mt-20">
        Foire Aux Questions
      </h1>
    </div>
  </section>
  <section class="bg-yellow-100 m-7 rounded-xl">
    <div id="accordion-collapse" data-accordion="collapse">
      {
        faqs.map((faq, index) => (
          <>
            <h2 id={`accordion-collapse-heading-${index}`}>
              <button
                type="button"
                class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border hover:text-white border-b-0 border-gray-200 rounded-xl focus:ring-4 hover:bg-pink-300"
                data-accordion-target={`#accordion-collapse-body-${index}`}
                aria-expanded="false"
                aria-controls={`accordion-collapse-body-${index}`}>
                <span class="text-xl">{faq.question}</span>
                <svg
                  data-accordion-icon
                  class="w-6 h-6 rotate-180 shrink-0"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </h2>
            <div
              id={`accordion-collapse-body-${index}`}
              class="hidden"
              aria-labelledby={`accordion-collapse-heading-${index}`}>
              <div class="p-5 border border-b-0 border-gray-200 bg-blue-800">
                <p class="mb-2 text-center text-yellow-500">{faq.answer}</p>
              </div>
            </div>
          </>
        ))
      }
    </div>
  </section>
</MainLayout>
