---
import MainLayout from '../layouts/MainLayout.astro';
const hourPrice = {
   between6080: 5.2,
   between81100: 'de 4.80€ à 5.20€',
   between101139: 'de 4.40€ à 4.80€',
   between140159: 'de 4.00€ à 4.40€',
   more160: 'de 3.90€ à 4.10€',
};
const { between6080, between81100, between101139, between140159, more160 } =
   hourPrice;
---

<MainLayout title="Taux horaire">
   <section
      class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-5">
      <div class="flex justify-around">
         <h1
            class="text-6xl lg:text-5xl md:text-4xl sm:text-3xl xsm:text-2xl font-bold filter drop-shadow-sm text-slate-200 text-start mt-20">
            Taux horaire pratiqué 2023
         </h1>
      </div>
   </section>
   <article class="format lg:format-lg flex flex-col mx-auto px-2">
      <h2 class="text-white text-center">
         Variables selon les nombres d'heures de garde.
      </h2>

      <div class="relative">
         <table class="w-full text-sm text-center">
            <thead class="text-base text-blue-700 bg-green-300">
               <tr>
                  <th scope="col" class="px-3 py-3">Heures/mois</th>
                  <th scope="col" class="px-3 py-3"> Taux/Heure net</th>
               </tr>
            </thead>
            <tbody>
               <tr
                  class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                  <th
                     scope="row"
                     class="px-3 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                     >Entre 60 & 80
                  </th>
                  <td class="px-3 py-4 font-bold text-white">{between6080}€</td>
               </tr>
               <tr
                  class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                  <th
                     scope="row"
                     class="px-3 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     Entre 81 & 100
                  </th>
                  <td class="px-3 py-4 font-bold text-white">
                     {between81100}</td
                  >
               </tr>
               <tr
                  class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                  <th
                     scope="row"
                     class="px-3 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     Entre 101 & 139
                  </th>
                  <td class="px-3 py-4 font-bold text-white">{between101139}</td
                  >
               </tr>
               <tr
                  class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                  <th
                     scope="row"
                     class="px-3 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     Entre 140 & 159
                  </th>
                  <td class="px-3 py-4 font-bold text-white">{between140159}</td
                  >
               </tr>
               <tr
                  class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                  <th
                     scope="row"
                     class="px-3 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     160 et au-delà
                  </th>
                  <td class="px-3 py-4 font-bold text-white">{more160}</td>
               </tr>
            </tbody>
         </table>

         <section class="flex justify-around">
            <div
               role="status"
               class="space-y-2 animate-pulse md:space-y-0 md:space-x-8 md:flex md:items-start m-2">
               <div
                  class="flex items-center justify-center w-auto h-auto rounded sm:w-96">
                  <!-- <img
                  src={calcul}
                  class="h-auto w-auto rounded-2xl"
                  alt="calcul"
               /> -->
               </div>
               <div class="w-full">
                  <div>
                     <h3
                        class="text-yellow-300 lg:pt-24 lg:text-2xl md:pt-24 md:text-2xl">
                        Se....
                     </h3>
                  </div>
               </div>
            </div>
         </section>

         <button
            type="button"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <a href="#" class="text-white no-underline">.....</a>
            <svg
               aria-hidden="true"
               class="w-5 h-5 ml-2 -mr-1"
               fill="currentColor"
               viewBox="0 0 20 20"
               xmlns="http://www.w3.org/2000/svg"
               ><path
                  fill-rule="evenodd"
                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path></svg
            >
         </button>
      </div>
   </article>
</MainLayout>
