---
import MainLayout from '../layouts/MainLayout.astro';
// /////////////////////////
const title = ' : Les repas proposés';
const rates = {
  smallDej: 3,
  dej: 3.5,
  gouter: 1.5,
  diner: 4,
};
const { smallDej, dej, gouter, diner } = rates;
---

<MainLayout title="Repas">
  <section
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-5">
    <div
      <h1
      class="text-3xl lg:text-5xl md:text-4xl sm:text-3xl xsm:text-2xl font-bold filter drop-shadow-sm text-slate-200 text-start mt-20">
      Tarifs repas 2023 {title}
    </div>
  </section>
  <article>
    <div>
      <p class="text-yellow-300 text-2xl mt-5 text-center">
        Si vous préparez vous mêmes ses repas, cette partie ne sera qu'à titre
        indicatif
      </p>
    </div>

    <section class="flex justify-around">
      <div
        role="status"
        class="space-y-2 animate-pulse md:space-y-0 md:space-x-8 md:flex md:items-start m-2">
        <div class="flex items-center justify-center w-auto h-auto sm:w-96">
          <img
            src="https://res.cloudinary.com/dgakih33l/image/upload/v1688441289/assmattoury/wonder_1688132192171_tchenx.jpg"
            class="h-auto rounded-xl pt-8"
            alt="une famille nounours"
          />
        </div>

        <section>
          <div class="mt-5 flex justify-around flex-wrap gap-2">
            <a
              class="block w-60 p-6 bg-blue-600 text-white border border-yellow-300 rounded-lg shadow no-underline">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-slate-100">
                Le petit-déjeuner
              </h5>
              <ul class="font-normal text-slate-200">
                <li>Bol chocolaté ou laitage</li>
                <li>Fruit ou jus de fruit</li>
                <li>Céréales ou gâteau</li>
                <li class="pt-3">
                  {smallDej}€ / jour
                </li>
              </ul>
            </a>
            <a
              class="block w-60 p-6 bg-blue-600 text-white border border-yellow-300 rounded-lg shadow no-underline">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-slate-100">
                Le déjeuner
              </h5>
              <ul class="font-normal text-slate-200">
                <li>Viande ou poisson</li>
                <li>Légume ou féculent</li>
                <li>Laitage et/ou fruit</li>
                <li class="pt-3">{dej}€ / jour</li>
              </ul>
            </a>
          </div>

          <div class="mt-5 flex justify-around flex-wrap gap-2">
            <a
              class="block w-60 p-6 bg-blue-600 text-white border border-yellow-300 rounded-lg shadow no-underline">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-slate-100">
                Le goûter
              </h5>
              <ul class="font-normal text-slate-200">
                <li>Au choix</li>
                <li>Fruit ou compote</li>
                <li>Gâteau</li>
                <li class="pt-3">{gouter}€ / jour</li>
              </ul>
            </a>
            <a
              class="block w-60 p-6 bg-blue-600 text-white border border-yellow-300 rounded-lg shadow no-underline">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-slate-100">
                Le dîner
              </h5>
              <ul class="font-normal text-slate-200">
                <li>Entrée légumes</li>
                <li>Féculent</li>
                <li>Laitage et/ou dessert</li>
                <li class="pt-3">{diner}€ / jour</li>
              </ul>
            </a>
          </div>
        </section>
      </div>
    </section>
    <section class="format lg:format-lg flex flex-col mx-auto px-2">
      <a href="/indemnity" class="text-white no-underline text-right"
        ><button
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center no-underline">
          vers les indemnités journalières

          <svg
            aria-hidden="true"
            class="w-5 h-5 ml-2 -mr-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"></path></svg
          >
        </button></a
      >
    </section>
  </article>
</MainLayout>
